
<p>
  <h1><%= @workout.title %></h1>
</p>

<h4>
  <strong>Location:</strong>
  <%= @workout.park_name %>
</h4>

<h4>
  <strong>Date:</strong>
</h4>

<div class="whiteWell">
	<% if @workout.stations.any? %>
		<h2>Stations</h2>
		<%= render @workout.stations %>
	<% end %>
	<div style="clear:both;" />
	<div id="addStationWrapper" class="station well">
		<h4>Add a station</h4>
		<%= render "stations/form" %>
	</div>
</div>

<%= link_to 'Back', workouts_path %>
| <%= link_to 'Edit', edit_workout_path(@workout) %>

