
<p>
  <h1><%= @workout.title %></h1>
</p>

<p>
  <strong>Location:</strong>
  <%= @workout.park_name %>
</p>

<p>
  <strong>Date:</strong>
</p>

<div class="well">
	<% if @workout.stations.any? %>
			<h2>Stations</h2>
			<!-- <div class="stations-wrapper">
				<div class="station-wrapper"> -->
					<%= render @workout.stations %>
				<!-- </div>
			</div> -->
	<% end %>
	<div style="clear:both;" />
	<h4>Add a station</h4>
	<%= render "stations/form" %>
</div>

<%= link_to 'Back', workouts_path %>
| <%= link_to 'Edit', edit_workout_path(@workout) %>	
