<div class="station well">
	
	<h3><%= station.name %></h3>

	<h4>
		<strong>Location:</strong>
		<%= station.location %>
	</h4>

	<% if station.exercises.any? %>
		<hr />
		
		<h4>Exercises</h4>
		<ol>
			<%= render partial: "stations/exercise_instance", collection: station.exercises, :as => :exercise %>
		</ol>
	<% end %>

	<hr />

	<h4>Add an Exercise</h4>
	<% if @unused_exercises.any? %>
		<%= render 'exercise_instance/form', station: station %>
	<% else %>
		<em>no unused exercises to choose from. Please add more exercises <%= link_to 'Here', new_exercise_path %></em>
	<% end %>

	<p>
	  <%= link_to 'Destroy Station', [station.workout, station],
	               method: :delete,
	               data: { confirm: 'Are you sure?' } %>
	</p>	
</div>