<div class="station well">
	<p>
		<strong>Name:</strong>
		<%= station.name %>
	</p>

	<p>
		<strong>Location:</strong>
		<%= station.location %>
	</p>

	<% if station.exercises.any? %>
		<hr />
		
		<h4>Exercises</h4>
		<ol>
			<%= render partial: "stations/exercise_instance", collection: station.exercises, :as => :exercise %>
		</ol>
	<% end %>

	<hr />

	<h5>Attach Exercise</h5>
	<% if @unused_exercises.any? %>
		<%= render 'exercise_instance/form', station: station %>
	<% else %>
		<em>no unused exercises to choose from. Please add more exercises <%= link_to 'Here', new_exercise_path %></em>
	<% end %>

	<p>
	  <%= link_to 'Destroy Station', [station.workout, station],
	               method: :delete,
	               data: { confirm: 'Are you sure?' } %>
	</p>	
</div>