<div class="station well">
	<p>
		<strong>Name:</strong>
		<%= station.name %>
	</p>

	<p>
		<strong>Location:</strong>
		<%= station.location %>
	</p>

	<% if station.exercises.any? %>
		<hr />
		
		<h4>Exercises</h4>
		<ol>
			<%= render partial: "stations/exercise_instance", collection: station.exercises, :as => :exercise %>
		</ol>
	<% end %>

	<hr />

	<h5>Add New Exercise</h5>
	<!-- need a form here -->
		<select name="exercise_id">
			<%= render partial: "exercises/select_exercise_instance", collection: @all_exercises, :as => :this_exercise %>
		</select>
		<button>Add</button>

	<p>
	  <%= link_to 'Destroy Station', [station.workout, station],
	               method: :delete,
	               data: { confirm: 'Are you sure?' } %>
	</p>	
</div>