<h1>Exercises</h1>

<table class="table">
  <tr>
    <th>Name</th>
    <th colspan="3"></th>
  </tr>

  <% @exercises.each do |exercise| %>
    <tr>
      <td><%= exercise.name %></td>
      <td><%= link_to 'Show', exercise_path(exercise) %></td>
   	  <td><%= link_to 'Edit', edit_exercise_path(exercise) %></td>
      <td><%= link_to 'Destroy', exercise_path(exercise), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'New exercise', new_exercise_path %>