<!DOCTYPE html>
<html>
<head>
	<title>Circuit Sequence</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>
	
	<div class="container">
		<%= render 'shared/header_navigation' %>
		<%= yield %>
	</div>
</body>
</html>
